.additions{
    background-color: var(--background-primary);
    padding: 42px 64px 96px;
    h1.additions__title{
        font-size: clamp(2rem, 3vw, 3rem);
        font-weight: 600;
        text-align: center;
        line-height: 120%;
        &::before{
            content: "";
            background: url("../images/icons/heart.svg") no-repeat;
            height: 60px;
            width: 65px;
            display: inline-block;
            margin-right: 8px;
            vertical-align: sub;
        }
    }
    .additions__list{
        margin-block: 64px;
        display: grid;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: auto auto;
        gap: 32px;
        article{
            width: min(640px, 100%);
            border: 3px solid var(--border);
            height: 100%;
            &:nth-of-type(1){
                background-color: var(--text-featured);
                border-radius: 48px;
                grid-row: span 2;
                img{
                    width: 100%;
                    border-radius: 45px 45px 0 0;
                }
                .additions__info{
                    padding: 42px;
                    h2.additions-title{
                        font-size: clamp(1.25rem, 3vw, 2.5rem);
                        font-weight: 600;
                        line-height: 120%;
                        margin-bottom: 28px;
                    }
                    p{
                        font-weight: 400;
                        margin-block: 18px 28px;
                        line-height: 150%;
                    }
                }
            }
            &:nth-of-type(2), 
            &:last-of-type{
                border-radius: 18px;
                grid-column: 2;
                display: grid;
                grid-template-columns: 50% 50%; 
                grid-template-rows: auto;
                img{
                    border-radius: 15px 0 0 15px;
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
                h3{
                    font-size: clamp(1rem, 3vw, 1.5rem);
                    font-weight: 600;
                    line-height: 140%;
                    margin-bottom: 16px;
                }
                p{
                    font-size: .9375rem;
                    font-weight: 400;
                    margin-block: 8px 18px;
                    line-height: 150%;
                }
                .additions__info{
                    padding: 24px 24px 24px 32px;
                }
            }
            &:nth-of-type(2){
                background-color: var(--background-secondary);
            }
            &:last-of-type{
                background-color: var(--background-third);
            }
            a{
                font-weight: 600;
                &::after{
                    content: "";
                    background: url("../images/icons/arrow-right.svg") no-repeat;
                    background-size: 10px;
                    width: 20px;
                    display: inline-block;
                    height: 20px;
                    vertical-align: middle;
                    margin-left: 10px;
                    transition: transform .3s ease;
                }
                &:hover::after{
                    transform: translateX(10px);
                }
            }
        }
    }
}


@media only screen and (max-width: 1180px) {
    .additions h1.additions__title::before{
        display: none;
    }
    
    .additions .additions__list{
        grid-template-columns: 2fr 1fr;
        article{
            &:nth-of-type(2),
            &:last-of-type {
                grid-template-columns: 100%;
                img{
                    display: none;
                }
            }
        }
    }
}
@media only screen and (max-width: 960px) {
    .additions{
        padding: 36px 24px 42px;
        .additions__list{
            grid-template-columns: min(640px, 100%);
            grid-template-rows: repeat(3, auto);
            justify-content: center;
            article.additions-card{
                .additions__info{
                    padding: 24px;
                }
                &:nth-of-type(1) {
                    border-radius: 18px;
                    h2.additions-title{
                        margin-bottom: 16px;
                    }      
                    img{
                        display: none;
                    }
                    grid-row: unset;
                }
                &:nth-of-type(2),
                &:last-of-type {
                grid-column: unset;
                }
            }
        }
    }
}

