.additions{
    background-color: var(--background-primary);
    padding-block: 48px 96px;
    h1.additions__title{
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        &::before{
            content: "";
            background: url("../images/heart.svg") no-repeat;
            height: 60px;
            width: 65px;
            display: inline-block;
            margin-right: 8px;
            vertical-align: sub;
        }
    }
    .additions__list{
        margin: 64px 64px 0 64px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        flex-wrap: wrap;
        height: 710px;
        article{
            width: 640px;
            border: 3px solid var(--border);
            &:nth-of-type(1){
                background-color: var(--text-featured);
                border-radius: 48px;
                img{
                    width: 100%;
                    border-radius: 45px 45px 0 0;
                }
                .additions__info{
                    padding: 42px;
                    h2.additions-title{
                        font-size: 2.5rem;
                        font-weight: 600;
                        line-height: 120%;
                    }
                    p{
                        font-weight: 400;
                        margin-block: 18px 28px;
                        line-height: 150%;
                    }
                }
            }
            &:nth-of-type(2), 
            &:last-of-type{
                border-radius: 18px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                height: 338px;
                img{
                    width: 50%;
                    height: 100%;
                    border-radius: 15px 0 0 15px;
                    object-fit: cover;
                }
                h3{
                    font-size: 1.5rem;
                    font-weight: 600;
                    line-height: 140%;
                }
                p{
                    font-size: .9375rem;
                    font-weight: 400;
                    margin-block: 8px 18px;
                    line-height: 150%;
                }
                .additions__info{
                    padding: 24px 36px 24px 32px;
                    width: 50%;
                }
            }
            a{
                font-weight: 600;
                &::after{
                    content: "";
                    background: url("../images/arrow-right.svg") no-repeat;
                    background-size: 10px;
                    width: 20px;
                    display: inline-block;
                    height: 20px;
                    vertical-align: middle;
                    margin-left: 10px;
                }
            }
        }
    }
}