.footer{
    background-color: var(--background-third);
    .newsletter{
        display: flex;
        justify-content: space-between;
        margin-bottom: 52px;
        gap: 32px;
        padding: 40px 60px 0px;
        h2{
            font-size: clamp(1.75rem, 3vw, 2.25rem);
            line-height: 150%;
        }
        p{
            font-weight: 400;
            line-height: 150%;
        }
        a{
            font-size: 12px;
            text-decoration: underline;
            font-weight: 400;
            line-height: 150%;
        }
        form{
            margin-bottom: 16px;
            input{
                padding: 12px;
                color: #505050;
                border: 1px solid #000;
                font-size: 1rem;
                margin-right: 8px;
                &:focus-within{
                    outline: none;
                }
            }
            button{
                background-color: var(--background-featured);
                border: 1px solid #000;
                cursor: pointer;
                font-weight: 400;
                color: var(--text-featured);
                width: 163px;
                height: 44px;
                font-size: 1rem;
            }
        }
    }
    hr{
        height: 6px;
        background-color: var(--border);
        border: none;
        margin: 0 60px 66px;
    }
    nav{
        display: flex;
        justify-content: space-between;
        padding: 0 60px 48px;
        li{
            margin-top: 16px;
            a{
                font-size:.875rem;
                font-weight: 400;
                line-height: 150%;
            }
            &:first-of-type{
                font-size: 1.125rem;
                margin-top: 0;
                margin-bottom: 24px;
            }
        }
    }
    .copyright{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 32px 60px;
        background: var(--text-featured);
    }
}

@media screen and (max-width: 1100px) {
    .newsletter{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 896px) {
    .footer{
        padding: 0px;
        hr, nav{
            display: none;
        }
        .copyright, .newsletter{
            margin: 0;
            padding: 24px;
        }
    }
}

@media screen and (max-width: 600px) {
    .footer{
        padding: 0px;
        .newsletter p{
            font-size: .75rem;
            
        }
        .newsletter button{
            margin-top: 8px;
        }
        hr, nav{
            display: none;
        }
        .copyright {
            font-size: .625rem;
            justify-content: center;
            img{
                display: none;
            }
        }
    }
}