.header__top-info,
.header__main-menu {
    padding-inline: clamp(16px, 3%, 64px);
}

.header-buton-menu,
.header-label-menu {
    display: none;
}

.header__top-info {
    background-color: var(--background-third);

    ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 40px;

        a {
            font-size: .9375rem;
            display: inline-flex;
            flex-direction: column;
            align-items: center;

            &:hover {
                font-weight: 600;
            }

            &::after {
                content: attr(data-text)/"";
                font-weight: 600;
                height: 0;
                overflow: hidden;
                visibility: hidden;
            }
        }

    }
}

.header__main-menu {
    position: relative;
    height: 93px;
    display: flex;
    align-items: center;
    box-shadow: 0px 4px 85px 0px rgba(0, 0, 0, 0.25);
    z-index: 1;

    h1 {
        margin-right: auto;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 32px;
    }

    ul.header__nav-list a {
        position: relative;
        transition: color .3s ease-in-out;

        &.link--submenu {
            margin-right: 20px;

            &::after {
                content: url("../images/icons/arrow-down.svg");
                position: absolute;
                top: 0px;
                right: -20px;
                transition: filter .3s ease-in-out;
            }
        }

        &.link--submenu:hover::after {
            filter: invert(95%) sepia(36%) saturate(908%) hue-rotate(151deg) brightness(86%) contrast(90%);
        }

        &::before {
            content: '';
            position: absolute;
            top: 100%;
            width: 100%;
            height: 2px;
            background-color: var(--button);
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }

        &:hover {
            color: var(--button);

            &::before {
                transform: scaleX(1);
            }
        }
    }

    ul.nav-link--submenu{
        position: absolute;
        top: 100%;
        display: flex;
        align-items: flex-start;
        background: #fff;
        padding: 24px;
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s ease;
        border-radius: 0 0 10px 10px;
        &.open{
           visibility: visible;
           opacity: 1;
        }
    }

    ul.header__nav-list-action {
        gap: 16px;

        a {
            svg {
                fill: transparent;
                transition: fill .5s ease-in-out;
            }

            &:hover svg {
                fill: var(--button);
            }
        }
    }

    a.header__button {
        margin-left: 60px;
        background-color: var(--button);
        color: var(--text-featured);
        padding: 8.5px 14px;
        border-radius: 50px;
        transition: background .3s ease-in;

        &:hover {
            background-color: var(--border);
        }
    }
}

@media only screen and (max-width: 400px) {
    .header__nav-list-action li:nth-of-type(4) {
        display: none;
    }
}

@media only screen and (max-width: 960px) {

    .header__top-info,
    ul.header__nav-list {
        display: none;
    }

    ul.header__nav-list.open {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
        visibility: visible;
    }

    ul.header__nav-list {
        position: absolute;
        right: -1px;
        display: flex;
        flex-direction: column;
        width: max-content;
        align-items: flex-start;
        top: 92px;
        background-color: var(--background-primary);
        gap: 16px;
        opacity: 0;
        visibility: hidden;

        transform: translateX(100%);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        pointer-events: none;

        li {
            padding: 16px;
        }
    }
    .header__main-menu ul.nav-link--submenu{
        top: auto;
        right: calc(100% - 1px);
        gap: unset;
        padding: 16px;
        flex-direction: column;
        border-radius: 10px 0 0 10px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        &.open{
            transform: translateX(0);
        }
    }

    .header-label-menu {
        display: block;
        font-size: 26px;
    }

    .header__nav-list-action li:first-of-type {
        order: 1;
    }
}

@media only screen and (max-width: 1280px) {
    .header__button {
        display: none;
    }
}