.products{
    background-color: var(--background-primary);
    text-align: center;
    padding: 64px 64px 72px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1{
        font-size: clamp(2rem, 3vw, 3rem);
        font-weight: 600;
        line-height: 120%;
    }
    p.products__subtitle{
        max-width: 960px;
        display: inline-block;
        font-size: clamp(1rem, 3vw, 1.25rem);
        font-weight: 400;
        margin-top: 14px;
        line-height: 150%;
    }
    a{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
    }
    .categories__list{
        display: flex;
        gap: 64px;
        flex-wrap: wrap;
        justify-content: center;
        margin-block: 56px 64px;
        a{
            width: min(390px, 100%);
            border: 4px solid var(--text-featured);
            border-radius: 28px;
            img{
                width: 100%;
            }
            h3{
                font-size: 1.5rem;
                font-weight: 600;
                margin-block: 20px 12px;
            }
            p{
                padding-inline: 28px;
                margin-bottom: 26px;
                font-size: 1rem;
                font-weight: 400;
                line-height: 150%;
            }
            &:hover{
                border-color: var(--border);
                background-color: #fff;
            }
        }
    }
    .products__title{
        display: inline-block;
        padding: 14px 34px 14px 75px;
        background-color: var(--text-featured);
        border: 3px solid var(--border);
        border-radius: 60px;
        font-size: clamp(1.5rem, 3vw, 2.25rem);
        font-style: italic;
        background-image: url("../images/flower.png");
        background-position: 14px center;
        background-repeat: no-repeat;
        line-height: 120%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
        &.title--absolute{
            position: absolute;
            top: -35px;
            background-image: url("../images/bear.png");
        }
    }
    .products__list{
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
        justify-content: center;
        margin-block: 64px;
        width: 100%;
        &.list--margin{
            margin-block-start: 36px;
        }
        a{
            width: min(302px, 90%);
            height: 375px;
            border: 4px solid var(--text-featured);
            border-radius: 37px;
            display: flex;
            flex-direction: column;
            img{
                object-fit: scale-down;
                height: min(100%, 254px);
            }
            .product__info{
                background-color: var(--text-featured);
                height: 113px;
                border-radius: 0 0 32px 32px;
                padding: 16px 8px;
                h4{
                    font-size: 1.25rem;
                }
                .rating{
                    margin-block: 12px;
                    .fa-solid{
                        color: var(--border);
                    }
                }
                p.product-price{
                    font-size: 1.25rem;
                    font-family: var(--font-featured);
                }
            }
            &:hover{
                border: 4px solid var(--border);
                background-color: var(--background-secondary);
            }
        }
    }
    .products__link{
        background-color: var(--background-featured);
        padding: 12px 50px;
        border-radius: 32px;
        border: 3px solid var(--text-featured);
        color: var(--text-featured);
        font-size: 1.125rem;
        font-weight: 600;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 0px;
        transition: background .3s ease-in-out;
        &:hover{
            background-color: var(--button);
        }
    }
}

@media only screen and (max-width: 768px) {
    .products{
        padding: 36px 24px;
        .categories__list{
            gap: 32px;
        }
        .products__title.title--absolute{
            margin-inline: 23px;
        }
    }

}